*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  text-align: center;
}

header{
  color: white;
  padding: 20px;
  padding-top: 40px;
}

.logo{
  font-weight: bold;
}

footer{
  color: #fff;
  padding: 20px;
  padding-top: 30px;
}

/* Contenedor*/
  #contenedor{
    display: grid;
  }
  .item{
    background-color: orange;
    height: auto;
    justify-self: center;
    border: 2px solid white;
    border-radius: 20px;
    margin: 0.6%;
    padding: 10px;
  }
  .item a{
    text-decoration: none;
    color: black;
  }
  .item:hover{
    transform: scale(1.1);
    transition: all 0.9s;
  }
/* Fin Contenedor */

/* Ventana Modal */
.modal_fondo{
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.226);
  position: absolute;
  height: 100vh;
  width: 100%;
  display: none;
}

.modal{
  background-color:  #F2ECFF;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
}

.modal_cerrar{
  background: #F2ECFF;
  position: absolute;
  border-radius: 30px;
  border: 3px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.modal_cerrar:hover{
  background: orange;
  font-weight: bold;
}

.modal_titulo{
  text-decoration: underline;
  margin-top: 0;
  font-weight: bold;
  padding: 15px 5px 0px 5px;
}

.mensaje1{
  text-align: justify;
}

input,textarea{
  border: 1px solid black;
  border-radius: 10px;
}

form div button{
  background-color: orange;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
}

form div button:hover{
  opacity: 0.8;
}

.pdf_cv{
  position: relative;
  display: inline-block;
}
.linkedin{
  position: relative;
  display: inline-block;
}
.whatsapp{
  position: relative; 
  display: inline-block;
}
/* Fin Ventana Modal */

/* Media */
@media only screen and (max-width: 320px){ 
  .logo{
    font-size: 32px;
  }
  header div span{
    display: none;
  }
  footer{
    font-size: 15px;
  }
  .item{
    width: 65%;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .modal{
    width: 90%;
    height: auto;
    border: 3px solid orange;
  } 
  .modal_cerrar{
    width: 30px;
    height:  30px;
    font-size: 15px;
    right: -12px;
    top: -10px;
  }
  .modal_titulo{
    font-size: 25px;
  }
  .modal_mensaje{
    font-size: 16px;
    padding: 12px;
  }
  .mensaje3{
    padding-bottom: 10px;
  }
  .mensaje4{
    padding-bottom: 10px;
  }
  input,textarea{
    font-size: 16px;
    width: 240px;
    height: auto;
    padding: 5px;
    margin: 3px;
  }
  form div button{
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -7px;
    left: -15px;
  }
  .linkedin{
    bottom: -6px;
  }
  .whatsapp{
    bottom: -7px;
    right: -10px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 375px){ 
  .logo{
    font-size: 35px;
  }
  header div span{
    display: none;
  }
  footer{
    font-size: 16px;
  }
  .item{
    width: 65%;
    font-size: 15px;
    margin-bottom: 6px;
  }
  .modal{
    width: 90%;
    height: auto;
    border: 3px solid orange;
  }
  .modal_cerrar{
    width: 30px;
    height:  30px;
    font-size: 15px;
    right: -10px;
    top: -10px;
  }
  .modal_titulo{
    font-size: 28px;
  }
  .modal_mensaje{
    font-size: 17px;
    padding: 13px;
  }
  .mensaje3{
    padding-bottom: 10px;
  }
  .mensaje4{
    padding-bottom: 10px;
  }
  input,textarea{
    font-size: 17px;
    width: 280px;
    height: auto;
    padding: 7px;
    margin: 3px;
  }
  form div button{
    font-size: 17px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -8px;
    left: -17px;
  }
  .linkedin{
    bottom: -7px;
  }
  .whatsapp{
    bottom: -8px;
    right: -12px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px){ 
  .logo{
    font-size: 38px;
  }
  header div span{
    display: none;
  }
  footer{
    font-size: 17px;
  }
  .item{
    width: 65%;
    font-size: 17px;
    margin-bottom: 7px;
  }
  .modal{
    width: 90%;
    height: auto;
    border: 3px solid orange;
  }
  .modal_cerrar{
    width: 33px;
    height:  33px;
    font-size: 15px;
    right: -15px;
    top: -15px;
  }
  .modal_titulo{
    font-size: 30px;
  }
  .modal_mensaje{
    font-size: 18px;
    padding: 15px;
  }
  .mensaje3{
    padding-bottom: 15px;
  }
  .mensaje4{
    padding-bottom: 15px;
  }
  input,textarea{
    font-size: 18px;
    width: 325px;
    height: auto;
    padding: 8px;
    margin: 4px;
  }
  form div button{
    font-size: 18px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -10px;
    left: -17px;
  }
  .linkedin{
    bottom: -8px;
  }
  .whatsapp{
    bottom: -10px;
    right: -12px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px){ 
  .logo{
    font-size: 35px;
  }
  footer{
  font-size: 17px;
  }
  .item{
    width: 50%;
    font-size: 17px;
    margin-bottom: 8px;
  }
  .modal{
    width: 70%;
    height: auto;
    border: 4px solid orange;
  }
  .modal_cerrar{
    width: 35px;
    height: 35px;
    font-size: 18px;
    right: -15px;
    top: -15px;
  }
  .modal_titulo{
    font-size: 35px;
  }
  .modal_mensaje{
    font-size: 20px;
    padding: 20px;
  }
  .mensaje3{
    padding-bottom: 15px;
  }
  .mensaje4{
    padding-bottom: 15px;
  }
  input,textarea{
    font-size: 20px;
    width: 325px;
    height: auto;
    padding: 8px;
    margin: 4px;
  }
  form div button{
    font-size: 20px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -15px;
    left: -17px;
  }
  .linkedin{
    bottom: -13px;
  }
  .whatsapp{
    bottom: -15px;
    right: -12px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px){
  .logo{
    font-size: 45px;
  }
  footer{
    font-size: 20px;
  } 
  .item{
    width: 45%;
    font-size: 18px;
    margin-bottom: 8px;
  }
  .modal{
    width: 55%;
    height: auto;
    border: 5px solid orange;
  }
  .modal_cerrar{
    width: 35px;
    height: 35px;
    font-size: 18px;
    right: -18px;
    top: -18px;
  }
  .modal_titulo{
    font-size: 35px;
  }
  .modal_mensaje{
    font-size: 20px;
    padding: 20px;
  }
  .mensaje3{
    padding-bottom: 15px;
  }
  .mensaje4{
    padding-bottom: 15px;
  }
  input,textarea{
    font-size: 20px;
    width: 325px;
    height: auto;
    padding: 8px;
    margin: 4px;
  }
  form div button{
    font-size: 20px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -15px;
    left: -17px;
  }
  .linkedin{
    bottom: -13px;
  }
  .whatsapp{
    bottom: -15px;
    right: -12px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px){
  .logo{
    font-size: 45px;
  }
  footer{
    font-size: 20px;
  }
  .item{
    width: 35%;
    font-size: 20px;
    border: 3px solid white;
  }
  .modal{
    width: 50%;
    height: auto;
    border: 5px solid orange;
  }
  .modal_cerrar{
    width: 40px;
    height: 40px;
    font-size: 20px;
    right: -20px;
    top: -20px;
  }
  .modal_titulo{
    font-size: 40px;
  }
  .modal_mensaje{
    font-size: 25px;
    padding: 20px;
  }
  .mensaje3{
    padding-bottom: 20px;
  }
  .mensaje4{
    padding-bottom: 20px;
  }
  input,textarea{
    font-size: 25px;
    width: 375px;
    height: auto;
    padding: 8px;
    margin: 4px;
  }
  form div button{
    font-size: 25px;
    padding: 8px;
    margin-bottom: 10px;
  }
  .pdf_cv{
    bottom: -15px;
    left: -20px;
  }
  .linkedin{
    bottom: -13px;
  }
  .whatsapp{
    bottom: -15px;
    right: -15px;
  }
}

@media only screen and (min-width: 1441px){
  .logo{
    font-size: 90px;
  }
  footer{
    font-size: 40px;
  }
  .item{
    width: 37%;
    font-size: 40px;
    border-radius: 35px;
    border: 5px solid white;
  }
  .modal{
    width: 50%;
    height: auto;
    border-radius: 50px;
    border: 7px solid orange;
  }
  .modal_cerrar{
    width: 70px;
    height: 70px;
    font-size: 40px;
    right: -35px;
    top: -35px;
    border-radius: 50px;
    border: 5px solid orange;
  }
  .modal_titulo{
    font-size: 90px;
  }
  .modal_mensaje{
    font-size: 45px;
    padding: 30px;
  }
  .mensaje3{
    padding-bottom: 30px;
  }
  .mensaje4{
    padding-bottom: 30px;
  }
  input,textarea{
    font-size: 45px;
    width: 700px;
    height: auto;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
  }
  form div button{
    font-size: 45px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
  .whatsapp{
    display: none;
  }
  .linkedin{
    display: none;
  }
  .pdf_cv{
    display: none;
  }
}